/* corniSequence CSS */

/* Sequence container */

.contenedor-secuencia img {
    display: none;
    width: 100%;
}

.contenedor-secuencia {
    position: relative;
    margin: auto;
    overflow: hidden;

}

.contenedor-secuencia.borde {
    border: 1px solid red;
}

/* slider */

.slider-sequence {
    box-sizing: border-box;
    padding: 0 10px;
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block!important;
}

.slider-sequence-container {
    width: 100%;
    height: 20px;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    margin: auto;
    top: 90%;
}

.slider-sequence-container .slider-indicator {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: #ccc;
    border-radius: 100%;
    cursor: pointer;
}


/* Info drag */

.info-drag {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.info-drag>div {
    width: 150px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    bottom: 0;
}

.info-drag img {
    width: 40px;
}

.info-drag p {
    color: #fff;
}


/* Indicators */

.corniIndicator {
    height: 1px;
    width: 100%;
    border-bottom: 1px solid blue;
    position: fixed;
    left: 0;
    top: 10%;
    z-index: 6;
}

.corniIndicator span {
    font-size: 12px;
    color: blue;
}


/* Frames */

.contenedor-secuencia .frames {
    background: red;
    display: inline-block;
    padding: 0 5px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
}


/* Text */

.container-text {
    position: relative;
    overflow: hidden;

}

.container-text .texts {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.container-text .texts > * {
    position: absolute;
    color: #fff;
    font-size: 24px;
}


/* Loading gift */

.loading {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background: rgba(255, 255, 255, 0.8);
    display: block;
}

.loading img {
    width: 70px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/* Mobile, tablet portrait */

@media screen and (min-width: 320px) and (max-width: 768px) {
    .info-drag.activo {
        display: block;
    }
}
